body{background-color:Blue;}
table{border:1px solid White;}
p{color:white;}
tr{color:white;}
ul{color:white;}
img{width:150px;}
.primero{background-color: green;}
.segundo{background-color: red;}
ul{list-style: none;}